
body {
  background-color: aliceblue;
  font-family: "Audiowide", sans-serif;
}

/* .main-heading {
  width: 100%;
  height: 10vh;  
  border-radius: 5px;
  background-color: #e6ecff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.heading {
    background-color: #e6ecff;
    width: auto;
    height: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  color: black;
  text-align: center;
  margin: 25px 0;
}

#dessert-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.dessert-card {
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  margin: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 250px;
  height: 200px;
}

.dessert-price {
  font-size: 1.2rem;
}

.btn {
  display: block;
  cursor: pointer;
  width: 100px;
  padding: 5px;
  color: white;
  background-color: #6666ff;
  border: none;
  border-radius: 5px;
}

.btn:hover {
    transform: scale(0.9);
}

#cart-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.add-to-cart-btn {
  margin: 30px auto 10px;
}

#cart-container {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: lightgray;
  width: 200px;
  height: 400px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.2rem;
  overflow-y: scroll;
}

.product {
  margin: 25px 0;
}

.product-count {
  display: inline-block;
  margin-right: 10px;
}

.banner {
  width: auto;
  display: flex;
  flex-direction: row;
}

#food-banner:hover {
  cursor: pointer;
}

#advertise {
  text-align: center;
  font-size: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 20px;
}

h1:hover, h2:hover, p:hover {
  cursor: default;
}

#food-banner {
  width: 100vh;
  height: 50vh;
  margin: 30px;
  margin-bottom: 0;
  left: 20%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav-menu {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.link {
  text-decoration: none;
  color: white;
}

.restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2px;
}

#restaurant-names {
  margin-top: 20px;
  width: 220px;
  height: 300px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #6666ff;
}

.restaurant img {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.restaurant p {
  color: azure;
  font-size: 25px;
  text-align: center;  
}

#restaurant-names:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition-timing-function: ease-in-out;  
}
.about p {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

footer {
  margin-right: 2%;
}

.foot {
  width: 100%;
  height: 5vh;
  padding: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: #e6ecff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.foot p {
  padding-bottom: 50px;
  text-align: center;
}

.foot .link {
  color: #0F1035;
}

@media (min-width: 768px) {
  #dessert-card-container {
    flex-direction: row;
  }

  .dessert-card {
    flex: 1 0 21%;
  }

  #cart-container {
    width: 300px;
  }
}